openapi: 3.1.0
info:
  title: Апи бекенда витрины проектов тпу
  version: 0.0.1
servers:
  - url: https://tpu.community.design/dev/api
  - url: http://localhost:8080/api
paths:
  /auth/login:
    post:
      tags:
        - auth
      operationId: postAuthLogin
      parameters:
        - name: Origin
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CodeReq"
        required: true
      responses:
        "200":
          description: ""
          headers:
            Set-Cookie:
              required: true
              schema:
                type: string
        "400":
          description: Ошибка валидации запроса. Убедись, что все обязательные поля (code,
            codeVerifier) ​​заполнены и не пусты.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request
        "502":
          description: API ТПУ вернул неполные данные пользователя (например, отсутствует
            email или ФИО). Аккаунт не привязан к профилю ТПУ (такое оказывается
            бывает).
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
              example:
                code: UPSTREAM_INVALID_JSON
                msg: API ТПУ вернул неполные данные пользователя (например, отсутствует email
                  или ФИО). Аккаунт не привязан к профилю ТПУ (такое оказывается
                  бывает).
        "504":
          description: Запрос к API ТПУ истек по времени. Вероятно он сейчас лежит)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: UPSTREAM_TIMEOUT
                msg: External auth provider timeout
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /auth/refresh:
    post:
      tags:
        - auth
      operationId: postAuthRefresh
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
        - name: refreshToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: ""
          headers:
            Set-Cookie:
              required: true
              schema:
                type: string
        "403":
          description: Рефреш токен отсутствует или невалиден. Нужно залогиниться.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_COOKIE
                msg: Refresh token cookie missing or invalid
        "422":
          description: Сессия не найдена или истекла. Нужно залогиниться.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: SESSION_NOT_FOUND
                msg: Session not found or expired
        "502":
          description: API ТПУ вернул ошибку или недействительный ответ.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: UPSTREAM_ERROR
                msg: External auth provider error
        "504":
          description: Запрос к API ТПУ истек по времени. Вероятно он сейчас лежит)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: UPSTREAM_TIMEOUT
                msg: External auth provider timeout
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /auth/logout:
    post:
      tags:
        - auth
      operationId: postAuthLogout
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
        - name: refreshToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: ""
          headers:
            Set-Cookie:
              required: true
              schema:
                type: string
        "403":
          description: Отсутствует или недействителен рефреш токен. Запрос на выход
            отклонен. (что? да!)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_COOKIE
                msg: Refresh token cookie missing or invalid
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /users/{targetId}:
    get:
      tags:
        - user
      operationId: getUsersTargetid
      parameters:
        - name: targetId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Профиль пользователя. Поле roles содержит структуры разных ролей.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          description: "Invalid value for: path parameter targetId"
          content:
            text/plain:
              schema:
                type: string
        "422":
          description: Пользователь не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: USER_NOT_FOUND
                msg: User not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /users:
    get:
      tags:
        - user
      operationId: getUsers
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            default: 0
            type: integer
            format: int32
            minimum: 0
        - name: limit
          in: query
          required: false
          schema:
            default: 20
            type: integer
            format: int32
            minimum: 1
            maximum: 50
        - name: query
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Список карточек пользователей
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindUserCardResponse"
        "400":
          description: "Invalid value for: query parameter offset, Invalid value for:
            query parameter limit"
          content:
            text/plain:
              schema:
                type: string
        "422":
          description: Пользователь не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: USER_NOT_FOUND
                msg: User not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /partners:
    get:
      tags:
        - partners
      operationId: getPartners
      parameters:
        - name: query
          in: query
          description: Поисковый запрос
          required: false
          schema:
            default: ""
            type: string
        - name: offset
          in: query
          description: Смещение
          required: false
          schema:
            default: 0
            type: integer
            format: int32
            minimum: 0
        - name: limit
          in: query
          description: Лимит результатов
          required: false
          schema:
            default: 10
            type: integer
            format: int32
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerListResponse"
        "400":
          description: "Invalid value for: query parameter offset, Invalid value for:
            query parameter limit"
          content:
            text/plain:
              schema:
                type: string
        "422":
          description: Партнёр не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PARTNER_NOT_FOUND
                msg: Partner not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    post:
      tags:
        - partners
      operationId: postPartners
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для создания партнера
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePartnerRequest"
        required: true
      responses:
        "200":
          description: Созданный партнер
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePartnerResponse"
        "400":
          description: Ошибка валидации партнёра или неверный формат тела запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: КОД_ПЕНИС
                msg: Inappropriate phrase found
        "403":
          description: Недостаточно прав на создание нового партнёра. Нужна роль Admin.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: Only admin can manage partners
        "422":
          description: Указанный партнёр не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PARTNER_NOT_FOUND
                msg: Partner not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /partners/{partnerId}:
    get:
      tags:
        - partners
      operationId: getPartnersPartnerid
      parameters:
        - name: partnerId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerResponse"
        "422":
          description: Партнёр не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PARTNER_NOT_FOUND
                msg: Partner not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects/{projectId}:
    get:
      tags:
        - project
      operationId: getProjectsProjectid
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
        "422":
          description: Проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    delete:
      tags:
        - project
      operationId: deleteProjectsProjectid
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "204":
          description: Проект успешно удален
        "403":
          description: Недостаточно прав на создание нового проекта.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You can't manage projects
        "422":
          description: Указанный проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    patch:
      tags:
        - project
      operationId: patchProjectsProjectid
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для обновления проекта
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequest"
        required: true
      responses:
        "200":
          description: Обновленный проект
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
        "400":
          description: "Invalid value for: body"
          content:
            text/plain:
              schema:
                type: string
        "403":
          description: Недостаточно прав на создание нового проекта.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You can't manage projects
        "422":
          description: Указанный проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects:
    get:
      tags:
        - project
      operationId: getProjects
      parameters:
        - name: q
          in: query
          description: Текстовый запрос
          required: false
          schema:
            default: ""
            type: string
        - name: projectType
          in: query
          description: "Фильтр по типу проекта: Study | Case | Real"
          required: false
          schema:
            default: []
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Фильтр по статусу (можно несколько). Для статусов кроме
            Recruiting/RecruitmentCompleted/InProgress/Completed нужна
            capability CanSearchAnyProjects
          required: false
          schema:
            default: []
            type: array
            items:
              type: string
        - name: tagId
          in: query
          description: Фильтр по ID тега (можно несколько)
          required: false
          schema:
            default: []
            type: array
            items:
              type: string
        - name: roleTypeId
          in: query
          description: Фильтр по ID типа роли (можно несколько)
          required: false
          schema:
            default: []
            type: array
            items:
              type: string
        - name: userId
          in: query
          description: Фильтр по ID участника роли (можно несколько)
          required: false
          schema:
            default: []
            type: array
            items:
              type: integer
              format: int32
        - name: managerId
          in: query
          description: Фильтр по ID менеджера проекта (можно несколько)
          required: false
          schema:
            default: []
            type: array
            items:
              type: integer
              format: int32
        - name: sort
          in: query
          description: "Сортировка: relevance | created_asc | created_desc"
          required: false
          schema:
            default: relevance
            type: string
        - name: offset
          in: query
          description: Смещение
          required: false
          schema:
            default: 0
            type: integer
            format: int32
        - name: limit
          in: query
          description: Лимит (макс. 100)
          required: false
          schema:
            default: 20
            type: integer
            format: int32
        - name: onlyApplied
          in: query
          description: Только проекты, на которые текущий пользователь подал заявку
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSearchResponse"
        "400":
          description: "Invalid value for: query parameter userId, Invalid value for:
            query parameter managerId, Invalid value for: query parameter
            offset, Invalid value for: query parameter limit, Invalid value for:
            query parameter onlyApplied"
          content:
            text/plain:
              schema:
                type: string
        "422":
          description: Проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    post:
      tags:
        - project
      operationId: postProjects
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для создания проекта
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
        required: true
      responses:
        "200":
          description: Id созданного проекта
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProjectResponse"
        "400":
          description: "Invalid value for: body"
          content:
            text/plain:
              schema:
                type: string
        "403":
          description: Недостаточно прав на создание нового проекта.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You can't manage projects
        "422":
          description: Указанный проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects/{projectId}/team:
    get:
      tags:
        - project
      operationId: getProjectsProjectidTeam
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Список участников проекта
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserCard"
        "422":
          description: Проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /skills:
    get:
      tags:
        - skills
      operationId: getSkills
      parameters:
        - name: query
          in: query
          description: Поисковый запрос
          required: false
          schema:
            default: ""
            type: string
        - name: roleType
          in: query
          description: Фильтр по типу роли
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Смещение
          required: false
          schema:
            default: 0
            type: integer
            format: int32
        - name: limit
          in: query
          description: Лимит результатов
          required: false
          schema:
            default: 10
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Skill"
        "400":
          description: Ошибка валидации параметров поиска.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_INPUT
                msg: Invalid input parameters
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    post:
      tags:
        - skills
      operationId: postSkills
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для создания скилла
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSkillPayload"
        required: true
      responses:
        "200":
          description: Id cозданного скилла
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSkillOutputPayload"
        "400":
          description: Ошибка валидации данных скилла.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_INPUT
                msg: Invalid input parameters
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /skills/{skillId}:
    get:
      tags:
        - skills
      operationId: getSkillsSkillid
      parameters:
        - name: skillId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        "422":
          description: Скилл не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: SKILL_NOT_FOUND
                msg: Skill not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    put:
      tags:
        - skills
      operationId: putSkillsSkillid
      parameters:
        - name: skillId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для обновления скилла
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSkillPayload"
        required: true
      responses:
        "204":
          description: ""
        "400":
          description: Ошибка валидации данных скилла.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_INPUT
                msg: Invalid input parameters
        "404":
          description: Скилл для обновления не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: SKILL_NOT_FOUND
                msg: Skill not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    delete:
      tags:
        - skills
      operationId: deleteSkillsSkillid
      parameters:
        - name: skillId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "204":
          description: ""
        "422":
          description: Скилл для удаления не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: SKILL_NOT_FOUND
                msg: Skill not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /sprints/current:
    get:
      tags:
        - sprint
      operationId: getSprintsCurrent
      responses:
        "200":
          description: Текущие активные спринты
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SprintResponse"
        "400":
          description: Invalid month parameter.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_MONTH
                msg: Month must be between 1 and 12
        "422":
          description: Sprint not found.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
              example:
                code: SPRINT_NOT_FOUND
                msg: Sprint not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /sprints:
    get:
      tags:
        - sprint
      operationId: getSprints
      parameters:
        - name: year
          in: query
          description: Год (например, 2026)
          required: false
          schema:
            type: integer
            format: int32
        - name: month
          in: query
          description: Месяц (1-12)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Список спринтов за указанный период
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SprintResponse"
        "400":
          description: Invalid month parameter.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_MONTH
                msg: Month must be between 1 and 12
        "422":
          description: Sprint not found.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
              example:
                code: SPRINT_NOT_FOUND
                msg: Sprint not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects/{projectId}/sprints:
    get:
      tags:
        - sprint
      operationId: getProjectsProjectidSprints
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Список спринтов проекта
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SprintResponse"
        "400":
          description: Invalid month parameter.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_MONTH
                msg: Month must be between 1 and 12
        "422":
          description: Sprint not found.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
              example:
                code: SPRINT_NOT_FOUND
                msg: Sprint not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /tags:
    get:
      tags:
        - tags
      operationId: getTags
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TagGroupWithTagsResponse"
        "422":
          description: Тег не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: TAG_NOT_FOUND
                msg: Tag not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    post:
      tags:
        - tags
      operationId: postTags
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для создания тега
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTagRequest"
        required: true
      responses:
        "200":
          description: Созданный тег
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTagResponse"
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление тегами. Нужна роль с CanEditTags.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit tags
        "409":
          description: A non-empty tag group cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CONFLICT
                msg: A non-empty tag group cannot be deleted
        "422":
          description: Тег не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: TAG_NOT_FOUND
                msg: Tag not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /tags/{tagId}:
    get:
      tags:
        - tags
      operationId: getTagsTagid
      parameters:
        - name: tagId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectTag"
        "422":
          description: Тег не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: TAG_NOT_FOUND
                msg: Tag not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    put:
      tags:
        - tags
      operationId: putTagsTagid
      parameters:
        - name: tagId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для обновления тега
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTagRequest"
        required: true
      responses:
        "204":
          description: ""
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление тегами. Нужна роль с CanEditTags.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit tags
        "409":
          description: A non-empty tag group cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CONFLICT
                msg: A non-empty tag group cannot be deleted
        "422":
          description: Тег не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: TAG_NOT_FOUND
                msg: Tag not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    delete:
      tags:
        - tags
      operationId: deleteTagsTagid
      parameters:
        - name: tagId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "204":
          description: ""
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление тегами. Нужна роль с CanEditTags.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit tags
        "409":
          description: A non-empty tag group cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CONFLICT
                msg: A non-empty tag group cannot be deleted
        "422":
          description: Тег не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: TAG_NOT_FOUND
                msg: Tag not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /tag-groups:
    get:
      tags:
        - tag-groups
      operationId: getTag-groups
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TagGroup"
        "422":
          description: Тег не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: TAG_NOT_FOUND
                msg: Tag not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    post:
      tags:
        - tag-groups
      operationId: postTag-groups
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для создания группы тегов
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTagGroupRequest"
        required: true
      responses:
        "200":
          description: Созданная группа тегов
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTagGroupResponse"
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление тегами. Нужна роль с CanEditTags.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit tags
        "409":
          description: A non-empty tag group cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CONFLICT
                msg: A non-empty tag group cannot be deleted
        "422":
          description: Тег не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: TAG_NOT_FOUND
                msg: Tag not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /tag-groups/{groupId}:
    get:
      tags:
        - tag-groups
      operationId: getTag-groupsGroupid
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagGroup"
        "422":
          description: Тег не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: TAG_NOT_FOUND
                msg: Tag not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    put:
      tags:
        - tag-groups
      operationId: putTag-groupsGroupid
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для обновления группы тегов
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTagGroupRequest"
        required: true
      responses:
        "204":
          description: ""
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление тегами. Нужна роль с CanEditTags.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit tags
        "409":
          description: A non-empty tag group cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CONFLICT
                msg: A non-empty tag group cannot be deleted
        "422":
          description: Тег не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: TAG_NOT_FOUND
                msg: Tag not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    delete:
      tags:
        - tag-groups
      operationId: deleteTag-groupsGroupid
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "204":
          description: ""
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление тегами. Нужна роль с CanEditTags.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit tags
        "409":
          description: A non-empty tag group cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CONFLICT
                msg: A non-empty tag group cannot be deleted
        "422":
          description: Тег не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: TAG_NOT_FOUND
                msg: Tag not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /platforms:
    get:
      tags:
        - platforms
      operationId: getPlatforms
      parameters:
        - name: category
          in: query
          description: Фильтр по категории платформ
          required: false
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlatformCategoryWithPlatformsResponse"
        "422":
          description: Платформа не найдена.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PLATFORM_NOT_FOUND
                msg: Platform not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    post:
      tags:
        - platforms
      operationId: postPlatforms
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для создания платформы
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePlatformRequest"
        required: true
      responses:
        "200":
          description: Созданная платформа
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePlatformResponse"
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление платформами. Нужна роль с
            CanEditPlatforms.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit platforms
        "409":
          description: A platform in use by a project cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CONFLICT
                msg: A platform in use by a project cannot be deleted
        "422":
          description: Платформа не найдена.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PLATFORM_NOT_FOUND
                msg: Platform not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /platforms/{platformId}:
    get:
      tags:
        - platforms
      operationId: getPlatformsPlatformid
      parameters:
        - name: platformId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Platform"
        "422":
          description: Платформа не найдена.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PLATFORM_NOT_FOUND
                msg: Platform not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    put:
      tags:
        - platforms
      operationId: putPlatformsPlatformid
      parameters:
        - name: platformId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для обновления платформы
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePlatformRequest"
        required: true
      responses:
        "204":
          description: ""
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление платформами. Нужна роль с
            CanEditPlatforms.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit platforms
        "409":
          description: A platform in use by a project cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CONFLICT
                msg: A platform in use by a project cannot be deleted
        "422":
          description: Платформа не найдена.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PLATFORM_NOT_FOUND
                msg: Platform not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    delete:
      tags:
        - platforms
      operationId: deletePlatformsPlatformid
      parameters:
        - name: platformId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "204":
          description: ""
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление платформами. Нужна роль с
            CanEditPlatforms.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit platforms
        "409":
          description: A platform in use by a project cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CONFLICT
                msg: A platform in use by a project cannot be deleted
        "422":
          description: Платформа не найдена.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PLATFORM_NOT_FOUND
                msg: Platform not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /role-types:
    get:
      tags:
        - role-types
      operationId: getRole-types
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectRoleType"
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление типами ролей. Нужна роль с
            CanManageProjectRoleTypes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to manage project role types
        "422":
          description: Тип роли не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: ROLE_TYPE_NOT_FOUND
                msg: Project role type not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    post:
      tags:
        - role-types
      operationId: postRole-types
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для создания типа роли
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRoleTypeRequest"
        required: true
      responses:
        "200":
          description: Созданный тип роли
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProjectRoleTypeResponse"
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление типами ролей. Нужна роль с
            CanManageProjectRoleTypes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to manage project role types
        "422":
          description: Тип роли не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: ROLE_TYPE_NOT_FOUND
                msg: Project role type not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects/checkpoints/{checkpointId}:
    get:
      tags:
        - checkpoint
      operationId: getProjectsCheckpointsCheckpointid
      parameters:
        - name: checkpointId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectCheckpoints"
        "403":
          description: You do not have permission to edit checkpoints.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit checkpoints
        "404":
          description: Checkpoint not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CHECKPOINT_NOT_FOUND
                msg: Checkpoint not found
        "409":
          description: Checkpoint date ranges must not overlap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CHECKPOINT_OVERLAP
                msg: Checkpoint date range overlaps an existing checkpoint
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    put:
      tags:
        - checkpoint
      operationId: putProjectsCheckpointsCheckpointid
      parameters:
        - name: checkpointId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Чекпоинты для обновления
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCheckpointPayload"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: integer
                format: int32
        "400":
          description: "Invalid value for: body"
          content:
            text/plain:
              schema:
                type: string
        "403":
          description: You do not have permission to edit checkpoints.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit checkpoints
        "404":
          description: Checkpoint not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CHECKPOINT_NOT_FOUND
                msg: Checkpoint not found
        "409":
          description: Checkpoint date ranges must not overlap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CHECKPOINT_OVERLAP
                msg: Checkpoint date range overlaps an existing checkpoint
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    delete:
      tags:
        - checkpoint
      operationId: deleteProjectsCheckpointsCheckpointid
      parameters:
        - name: checkpointId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: integer
                format: int32
        "403":
          description: You do not have permission to edit checkpoints.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit checkpoints
        "404":
          description: Checkpoint not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CHECKPOINT_NOT_FOUND
                msg: Checkpoint not found
        "409":
          description: Checkpoint date ranges must not overlap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CHECKPOINT_OVERLAP
                msg: Checkpoint date range overlaps an existing checkpoint
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects/checkpoints/current:
    get:
      tags:
        - checkpoint
      operationId: getProjectsCheckpointsCurrent
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectCheckpoints"
        "403":
          description: You do not have permission to edit checkpoints.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit checkpoints
        "404":
          description: Checkpoint not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CHECKPOINT_NOT_FOUND
                msg: Checkpoint not found
        "409":
          description: Checkpoint date ranges must not overlap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CHECKPOINT_OVERLAP
                msg: Checkpoint date range overlaps an existing checkpoint
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /auth/status:
    get:
      tags:
        - auth
      operationId: getAuthStatus
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserIDResp"
        "401":
          description: Отсутствует или недействителен access token. Требуется авторизация.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: AUTHORIZATION_FAILED
                msg: Access token cookie is missing or invalid. Authorization failed
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /users/me:
    get:
      tags:
        - user
      operationId: getUsersMe
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Профиль текущего пользователя. Поле roles содержит структуры разных
            ролей.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "403":
          description: Отсутствует или недействителен access token. Требуется авторизация.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: AUTHORIZATION_FAILED
                msg: Access token cookie is missing or invalid. Authorization failed
        "422":
          description: Пользователь не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: USER_NOT_FOUND
                msg: User not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    patch:
      tags:
        - user
      operationId: patchUsersMe
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Поля профиля для частичного обновления
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileMetaRequest"
        required: true
      responses:
        "200":
          description: Профиль обновлен
        "400":
          description: "Ошибка валидации запроса, возможные коды: КОД_ПЕНИС, INVALID_LENGTH"
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
              example:
                code: КОД_ПЕНИС
                msg: "Inappropriate phrase found: ${word}"
        "403":
          description: Отсутствует или недействителен access token. Требуется авторизация.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: AUTHORIZATION_FAILED
                msg: Access token cookie is missing or invalid. Authorization failed
        "422":
          description: Пользователь не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: USER_NOT_FOUND
                msg: User not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /users/me/profilePicture:
    put:
      tags:
        - user
      operationId: putUsersMeProfilepicture
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: URL кастомного аватара (например, из POST /files/upload). После
          установки аватар перестаёт синхронизироваться c API университета. null
          очищает аватар.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfilePictureRequest"
        required: true
      responses:
        "200":
          description: Аватар обновлен
        "400":
          description: "Ошибка валидации запроса, возможные коды: КОД_ПЕНИС, INVALID_LENGTH"
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
              example:
                code: КОД_ПЕНИС
                msg: "Inappropriate phrase found: ${word}"
        "403":
          description: Отсутствует или недействителен access token. Требуется авторизация.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: AUTHORIZATION_FAILED
                msg: Access token cookie is missing or invalid. Authorization failed
        "422":
          description: Пользователь не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: USER_NOT_FOUND
                msg: User not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /users/{targetId}/roles/{roleName}:
    put:
      tags:
        - user
      operationId: putUsersTargetidRolesRolename
      parameters:
        - name: targetId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: roleName
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "204":
          description: Роль назначена
        "400":
          description: "Ошибка назначения роли. Возможные коды: AUTO_MANAGED,
            INSUFFICIENT_PERMISSIONS, UNKNOWN_ROLE."
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
              example:
                code: AUTO_MANAGED
                msg: Role {роль} is managed automatically by the system and cannot be set
                  manually
        "401":
          description: Отсутствует или недействителен access token. Требуется авторизация.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: AUTHORIZATION_FAILED
                msg: Access token cookie is missing or invalid. Authorization failed
        "422":
          description: Пользователь не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: USER_NOT_FOUND
                msg: User not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    delete:
      tags:
        - user
      operationId: deleteUsersTargetidRolesRolename
      parameters:
        - name: targetId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: roleName
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "204":
          description: Роль отозвана
        "400":
          description: "Ошибка отзыва роли. Возможные коды: ADMIN_SUICIDE, AUTO_MANAGED,
            INSUFFICIENT_PERMISSIONS, UNSUPPORTED_ROLE."
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
                  - $ref: "#/components/schemas/ErrorPayload"
              example:
                code: ADMIN_SUICIDE
                msg: You cannot revoke your own administrator capabilities
        "403":
          description: Отсутствует или недействителен access token. Требуется авторизация.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: AUTHORIZATION_FAILED
                msg: Access token cookie is missing or invalid. Authorization failed
        "422":
          description: Пользователь не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: USER_NOT_FOUND
                msg: User not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects/{projectId}/status/{status}:
    post:
      tags:
        - project
      operationId: postProjectsProjectidStatusStatus
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Опциональный комментарий модератора (обязателен только для
          переходов в NeedsRework и Rejected)
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectStatusRequest"
        required: false
      responses:
        "204":
          description: Статус проекта успешно изменен
        "400":
          description: "Invalid value for: body"
          content:
            text/plain:
              schema:
                type: string
        "403":
          description: Недостаточно прав на создание нового проекта.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You can't manage projects
        "422":
          description: Указанный проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects/{projectId}/review:
    get:
      tags:
        - project
      operationId: getProjectsProjectidReview
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Комментарий модератора к проекту
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModeratorCommentResponse"
        "403":
          description: Недостаточно прав на создание нового проекта.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You can't manage projects
        "422":
          description: Указанный проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects/{projectId}/promoted:
    patch:
      tags:
        - project
      operationId: patchProjectsProjectidPromoted
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Обновление статуса продвижения проекта
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromoteProjectRequest"
        required: true
      responses:
        "204":
          description: Статус продвижения успешно обновлен
        "400":
          description: "Invalid value for: body"
          content:
            text/plain:
              schema:
                type: string
        "403":
          description: Недостаточно прав на создание нового проекта.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You can't manage projects
        "422":
          description: Указанный проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects/{projectId}/like:
    post:
      tags:
        - project
      operationId: postProjectsProjectidLike
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "204":
          description: Лайк поставлен
        "403":
          description: Недостаточно прав на создание нового проекта.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You can't manage projects
        "422":
          description: Указанный проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    delete:
      tags:
        - project
      operationId: deleteProjectsProjectidLike
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "204":
          description: Лайк убран
        "403":
          description: Недостаточно прав на создание нового проекта.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You can't manage projects
        "422":
          description: Указанный проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /me/projects/liked:
    get:
      tags:
        - project
      operationId: getMeProjectsLiked
      parameters:
        - name: offset
          in: query
          description: Смещение
          required: false
          schema:
            default: 0
            type: integer
            format: int32
        - name: limit
          in: query
          description: Лимит (макс. 100)
          required: false
          schema:
            default: 20
            type: integer
            format: int32
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Лайкнутые проекты текущего пользователя
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSearchResponse"
        "400":
          description: "Invalid value for: query parameter offset, Invalid value for:
            query parameter limit"
          content:
            text/plain:
              schema:
                type: string
        "422":
          description: Проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /me/projects/managed:
    get:
      tags:
        - project
      operationId: getMeProjectsManaged
      parameters:
        - name: offset
          in: query
          description: Смещение
          required: false
          schema:
            default: 0
            type: integer
            format: int32
        - name: limit
          in: query
          description: Лимит (макс. 100)
          required: false
          schema:
            default: 20
            type: integer
            format: int32
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Проекты, которыми управляет текущий пользователь
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSearchResponse"
        "400":
          description: "Invalid value for: query parameter offset, Invalid value for:
            query parameter limit"
          content:
            text/plain:
              schema:
                type: string
        "422":
          description: Проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /me/projects/participating:
    get:
      tags:
        - project
      operationId: getMeProjectsParticipating
      parameters:
        - name: offset
          in: query
          description: Смещение
          required: false
          schema:
            default: 0
            type: integer
            format: int32
        - name: limit
          in: query
          description: Лимит (макс. 100)
          required: false
          schema:
            default: 20
            type: integer
            format: int32
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Проекты, в которых участвует текущий пользователь
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSearchResponse"
        "400":
          description: "Invalid value for: query parameter offset, Invalid value for:
            query parameter limit"
          content:
            text/plain:
              schema:
                type: string
        "422":
          description: Проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /me/projects/applied:
    get:
      tags:
        - project
      operationId: getMeProjectsApplied
      parameters:
        - name: offset
          in: query
          description: Смещение
          required: false
          schema:
            default: 0
            type: integer
            format: int32
        - name: limit
          in: query
          description: Лимит (макс. 100)
          required: false
          schema:
            default: 20
            type: integer
            format: int32
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Проекты, на которые текущий пользователь подал заявку
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSearchResponse"
        "400":
          description: "Invalid value for: query parameter offset, Invalid value for:
            query parameter limit"
          content:
            text/plain:
              schema:
                type: string
        "422":
          description: Проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /me/projects/draft:
    get:
      tags:
        - project
      operationId: getMeProjectsDraft
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Черновик проекта текущего пользователя
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDraftResponse"
        "422":
          description: Проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    put:
      tags:
        - project
      operationId: putMeProjectsDraft
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Произвольный JSON черновика (не валидируется)
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "204":
          description: Черновик сохранен
        "400":
          description: "Invalid value for: body"
          content:
            text/plain:
              schema:
                type: string
        "422":
          description: Проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    delete:
      tags:
        - project
      operationId: deleteMeProjectsDraft
      parameters:
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "204":
          description: Черновик удален
        "422":
          description: Проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects/{projectId}/team/{userId}:
    delete:
      tags:
        - project
      operationId: deleteProjectsProjectidTeamUserid
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "204":
          description: Студент успешно исключен из команды проекта
        "400":
          description: "Invalid value for: path parameter userId"
          content:
            text/plain:
              schema:
                type: string
        "422":
          description: Проект не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: PROJECT_NOT_FOUND
                msg: PROJECT not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /role-types/{roleTypeId}:
    put:
      tags:
        - role-types
      operationId: putRole-typesRoletypeid
      parameters:
        - name: roleTypeId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      requestBody:
        description: Данные для обновления типа роли
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRoleTypeRequest"
        required: true
      responses:
        "204":
          description: ""
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление типами ролей. Нужна роль с
            CanManageProjectRoleTypes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to manage project role types
        "422":
          description: Тип роли не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: ROLE_TYPE_NOT_FOUND
                msg: Project role type not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    delete:
      tags:
        - role-types
      operationId: deleteRole-typesRoletypeid
      parameters:
        - name: roleTypeId
          in: path
          required: true
          schema:
            type: string
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "204":
          description: ""
        "400":
          description: Ошибка валидации запроса.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INVALID_REQ
                msg: Invalid request body or validation failed
        "403":
          description: Недостаточно прав на управление типами ролей. Нужна роль с
            CanManageProjectRoleTypes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to manage project role types
        "422":
          description: Тип роли не найден.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: ROLE_TYPE_NOT_FOUND
                msg: Project role type not found
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
  /projects/checkpoints:
    get:
      tags:
        - checkpoint
      operationId: getProjectsCheckpoints
      parameters:
        - name: offset
          in: query
          description: Offset for pagination
          required: true
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: Limit for pagination
          required: true
          schema:
            type: integer
            format: int32
        - name: accessToken
          in: cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckpointListResponse"
        "400":
          description: "Invalid value for: query parameter offset, Invalid value for:
            query parameter limit"
          content:
            text/plain:
              schema:
                type: string
        "403":
          description: You do not have permission to edit checkpoints.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: INSUFFICIENT_PERMISSIONS
                msg: You do not have permission to edit checkpoints
        "404":
          description: Checkpoint not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CHECKPOINT_NOT_FOUND
                msg: Checkpoint not found
        "409":
          description: Checkpoint date ranges must not overlap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
              example:
                code: CHECKPOINT_OVERLAP
                msg: Checkpoint date range overlaps an existing checkpoint
        default:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorPayload"
    post:
      tags:
        - checkpoint
      operationId: postProjectsCheckpoints
      parameters:
        - name: accessToken
          in: cookie
          required: false
[...]
